$color-black: #263238;
$color-border-green: #1bb55c;

//небольшая мешанина разных подходов )

@mixin custom-input-style {
    display: flex;
    margin: 0;
    padding: 0;
    width: 208px;
    background: #ffffff;
    border: none;
    height: 36px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

@mixin custom-font-placeholder {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 0.16px;
}

@mixin custom-font-input {
    color: $color-black;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.16px;
}
#root {
    display: flex;
    box-sizing: border-box;
    min-width: 598px;
    min-height: 559px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}
.wrapper {
    max-width: 598px;
    max-height: 559px;
    display: flex;
    flex-direction: column;
    color: $color-black;
    align-items: center;
    justify-content: center;
    h1 {
        margin-top: 0;
        height: 29px;
        color: $color-black;
        font-size: 24px;
        line-height: 29px;
        font-family: Inter;
        font-weight: 600;
        word-wrap: break-word;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        gap: 12px;
        flex-grow: 1;
    }
}
.form-fieldset-input {
    display: flex;
    flex-wrap: wrap;
    width: 485px;
    height: 305px;
    gap: 12px;
    .form-group-name,
    .form-group-phone {
        flex-grow: 1;
    }
}

[class*="form-group-"] {
    margin: 0;
    padding: 0;
    width: 232px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-black;
    border: 1px solid lightgray;
    border-radius: 8px;

    legend {
        display: flex;
        text-align: left;
        margin-left: 12px;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
    }

    &:focus-within {
        border: 2px solid $color-border-green;
        legend {
            color: $color-border-green;
        }
    }

    input:not(:placeholder-shown) {
        color: $color-border-green;
    }
}

button[type="submit"] {
    height: 45px;
    width: 205px;
    border-radius: 4px;
    background: #1bb55c;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.1px;
    word-wrap: break-word;
    border: none;
    cursor: pointer;
    &:hover {
        background: lightslategray;
    }
}

span {
    font-size: 12px;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.06px;
    a {
        color: $color-black;
    }
}
.form-wrapper-textarea {
    display: flex;
    width: 485px;
    height: 127px;

    fieldset {
        width: 485px;
        height: 120px;
        flex-shrink: 0;
    }
    .form-input-textarea {
        display: flex;
        margin: 0;
        padding: 0;
        width: 95%;
        background: #ffffff;
        border: none;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        @include custom-font-input();
        &::placeholder {
            color: $color-black;
            @include custom-font-placeholder();
        }
        &:focus {
            outline: none;
        }
    }
}
input {
    @include custom-input-style();
    @include custom-font-input();
    &::placeholder {
        color: $color-black;
        @include custom-font-placeholder();
    }

    &:focus {
        outline: none;
    }
}
